<p id="notice"><%= notice %></p>

<h1>Listing Detalles</h1>

<table>
  <thead>
    <tr>
      <th>Cod detalle</th>
      <th>Qt cantidad</th>
      <th>Sa preciounisol</th>
      <th>Sa importesol</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @detalles.each do |detalle| %>
      <tr>
        <td><%= detalle.orden_id %></td>
        <td><%= detalle.Qt_Cantidad %></td>
        <td><%= detalle.Sa_PrecioUniSol %></td>
        <td><%= detalle.Sa_ImporteSol %></td>
        <td><%= link_to 'Show', detalle %></td>
        <td><%= link_to 'Edit', edit_detalle_path(detalle) %></td>
        <td><%= link_to 'Destroy', detalle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Detalle', new_detalle_path %>
