<p id="notice"><%= notice %></p>

<p>
  <strong>Cod detalle:</strong>
  <%= @detalle.producto_id %>
</p>

<p>
  <strong>Qt cantidad:</strong>
  <%= @detalle.Qt_Cantidad %>
</p>

<p>
  <strong>Sa preciounisol:</strong>
  <%= @detalle.Sa_PrecioUniSol %>
</p>

<p>
  <strong>Sa importesol:</strong>
  <%= @detalle.Sa_ImporteSol %>
</p>

<%= link_to 'Edit', edit_detalle_path(@detalle) %> |
<%= link_to 'Back', detalles_path %>
