<%= form_for(@mesa) do |f| %>
  <% if @mesa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mesa.errors.count, "error") %> prohibited this mesa from being saved:</h2>

      <ul>
      <% @mesa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <strong>Código de la mesa:</strong><br>
    <label style="<%= params[:action] == 'edit' ? 'display: none' : ''%>"><%= f.text_field :Co_Mesa %></label>
    <label style="<%= params[:action] == 'edit' ? '' : 'display: none'%>"><%= @mesa.Co_Mesa %></label>
  </div>

  <div class="field">
    <strong>Número de la mesa:</strong><br>
    <label style="<%= params[:action] == 'edit' ? 'display: none' : ''%>"><%= f.number_field :Nu_Mesa %></label>
    <label style="<%= params[:action] == 'edit' ? '' : 'display: none'%>"><%= @mesa.Nu_Mesa %></label>
  </div>

  <div class="field">
    <strong>Cantidad de sillas:</strong><br>
    <%= f.number_field :Qt_CantidadSillas %>
  </div>

  <div class="field">
    <strong>Tipo de la mesa:</strong><br>
    <%= f.text_field :Tipo_Mesa %>
  </div>

  <div class="actions">
    <% if params[:action] == 'new'%>
      <%= f.submit "Agregar mesa" %>
    <% else %>
      <%= f.submit "Actualizar datos de mesa" %>
    <% end %>
  </div>
<% end %>
