<p id="notice"><%= notice %></p>

<%= form_tag mesas_path, :method => :get do |f| %>
  BUSQUEDA POR ESTADO: <%= text_field_tag "status", params[:status] %>
  <%= submit_tag "Buscar", :free => nil, class: "btn btn-danger" %>
<% end %>

<h1>Listado de mesas</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th style="display:none">Mesa</th>
      <th>N° mesa</th>
      <th>Número de sillas</th>
      <th>Tipo de mesa</th>
      <th>Disponibilidad</th>
      <th colspan="3" class="text-center">ACCIONES</th>
    </tr>
  </thead>

  <tbody>
    <% @mesas.each do |mesa| %>
      <tr style="background-color:<%= mesa.free=='2' ? '#F6CECE': '' %>">
        <td>MESA N° <%= mesa.Nu_Mesa %></td>
        <td><%= mesa.Qt_CantidadSillas %></td>
        <td><%= mesa.Tipo_Mesa %></td>
        <td><%= mesa.free=='1' ? 'OCUPADO': 'LIBRE' %></td>
        <td><%= link_to 'Detalles', mesa %></td>
        <td><span class="glyphicon glyphicon-pencil"></span><%= link_to 'Editar', edit_mesa_path(mesa) %></td>
        <td><span class="glyphicon glyphicon-trash"></span><%= link_to 'Eliminar', mesa, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @mesas%>
<br>

<span class="glyphicon glyphicon-plus"></span> <%= link_to 'Agregar una mesa', new_mesa_path %>

<div id="divajax"></div>
<%= javascript_include_tag 'mesas/index' %>