<div class="row">
  <div class="col-xs-12">
    <button id="myBtn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Selecciona la Mesa para la recepción</button>
  </div>
</div><br>

<%= form_for :recepcion, :url => { :action => :create } do |f| %>
<div class="row">
  <div class="col-xs-4">
  <span class="text-info"><strong>DATOS SOBRE EL CLIENTE:</strong></span>
    <div class="field">
      <%= f.hidden_field :cliente_id %>
    </div>
    <b><span id="showMesa" class="text-warning"></span></b>
    <div class="field">
      <%= label_tag :N°_Dni %><br>
      <%= text_field_tag :Nu_Dni, "", {:onblur => "findCli(this.value)"} %>
    </div>
    <div class="field">
      <%= label_tag :Nombre_del_cliente %><br>
      <%= text_field_tag :No_Cliente %>
    </div>
    <div class="field">
      <%= label_tag :Apellido_Paterno %><br>
      <%= text_field_tag :Ape_Paterno %>
    </div>
    <div class="field">
      <%= label_tag :Apellido_Materno %><br>
      <%= text_field_tag :Ape_Mateno %>
    </div>
  </div>

  <div class="col-xs-4">
  <span class="text-info"><strong>DATOS SOBRE LA FECHA DE RECEPCIÓN:</strong></span>
    <div class="field">
      <%= f.label :fe_recepcion %><br>
      <%= f.date_select :fe_recepcion %>
    </div>
    <div class="field">
      <%= f.label :hora_recepcion %><br>
      <%= f.time_select :hora_recepcion %>
    </div>
    <div class="field">
      <%= f.hidden_field :mesa_id %>
    </div>
    <div class="field">
      <%= f.label :tipo_recepcion %><br>
      <%= f.text_field :tipo_recepcion %>
    </div>
    <div class="field">
      <%= f.hidden_field :empleado_id %>
    </div>
    <div class="field">
      <%= f.label :tx_detalle %><br>
      <%= f.text_area :tx_detalle %>
    </div>
    <div class="actions">
      <%= f.submit 'Guardar Reserva', class: 'btn btn-danger' %>
    </div>
  </div>
</div>
<% end %> 
</div>

<!-- MODAL -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Selecciona la Mesas</h4>
        </div>
        <div class="modal-body">
          <% @mesas.each do |mesa| %>
            <button data-dismiss="modal" id="<%= mesa.id %>" class="mesas<%= mesa.free %> btnmesa" <%= mesa.free != "0" ? " disabled " : "" %> >Mesa N°<%= mesa.Nu_Mesa %></button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <!-- MODAL -->
 <script type="text/javascript">
  $('.btnmesa').click(function(e){
    $('#recepcion_mesa_id').val(e.target.id)
    $('#showMesa').html("ELIGIÓ LA MESA " + e.target.id)
    $('#recepcion_empleado_id').val(1)
  });

  function findCli(dni){
        $.ajax({
        type: "GET",
        url: '/recepcions/findCliente/'+ dni,
        beforeSend: function (xhr) {
        },
        success: function (response) {
        },
        error: function () {
        }
    });
  }
 </script>