<div>
  <div id="items_grid" >
  <table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Nombre del producto</th>
    </tr>
  </thead>
  <tbody>
    <% items.each do |item| %>
	    <tr>
        <td><%= item.id %></td>
        <td>
          <%= link_to item.No_Producto, '#new_detail_modal', 'data-toggle' => 'modal' %>
        </td>
      </tr>
	<% end %>
  </tbody>
  </table>
  </div>
</div>