<%= form_for(@empleado) do |f| %>
  <% if @empleado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@empleado.errors.count, "error") %> prohibited this empleado from being saved:</h2>

      <ul>
      <% @empleado.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-xs-4">
    <div class="field">
      <%= f.label "Número de DNI" %><br>
      <%= f.number_field :Nu_Dni, class: 'form-control' %>
    </div>
    <div class="field">
      <%= f.label "Nombre de empleado" %><br>
      <%= f.text_field :No_Empleado, class: 'form-control' %>
    </div>
    <div class="field">
      <%= f.label "Función" %><br>
      <%= collection_select(:empleado, :cargo_id, Cargo.all, :id, :No_Cargo, :prompt =>'Selecciona tu función') %>
    </div>
    <div class="field">
      <%= f.label "Teléfono" %><br>
      <%= f.text_field :Tx_telefono, class: 'form-control' %>
    </div>
    <div class="field">
      <%= f.label "Sexo" %><br>
      <%= f.text_field :Fl_Sexo %>
    </div>
    <div class="field">
      <%= f.label "Estado civil" %><br>
      <%= f.text_field :Fl_EstadoCivil %>
    </div>
  </div>

  <div class="col-xs-4">
    <div class="field">
      <%= f.label "Dirección" %><br>
      <%= f.text_field :Tx_Direccion %>
    </div>
    <div class="field">
      <%= f.label "Departamento" %><br>
      <%= f.text_field :Co_Departamento %>
    </div>
    <div class="field">
      <%= f.label "Provincia" %><br>
      <%= f.text_field :Co_Provincia %>
    </div>
    <div class="field">
      <%= f.label "Distrito" %><br>
      <%= f.text_field :Co_Distrito %>
    </div>
    <div class="field">
      <%= f.label "Email" %><br>
      <%= f.text_field :Tx_Email %>
    </div>
    <div class="field">
      <%= f.label "Salario" %><br>
      <%= f.text_field :Sa_Salario %>
    </div>
  </div>

  <div class="col-xs-4">
    <div class="field">
      <%= f.label "Fecha de nacimiento" %><br>
      <%= f.date_select :Fe_Nacimiento, :start_year => 1940 %>
    </div>
    <div class="field">
      <%= f.label "Fecha de contrato" %><br>
      <%= f.date_select :Fe_Contrato %>
    </div>
    <div class="field">
      <%= f.label "Fecha de culminación" %><br>
      <%= f.date_select :Fe_Culminacion %>
    </div>
    <div class="actions">
      <% if params[:action] == 'new'%>
      <%= f.submit "Crear empleado", class: 'btn btn-danger' %>
      <% else %>
      <%= f.submit "Actualizar empleado", class: 'btn btn-danger' %>
      <% end %>
    </div>
  </div>
</div>

<% end %>
