<p id="notice"><%= notice %></p>

<h1>Lista de empleados more</h1>

<table cellspacing="50">
  <thead>
    <tr>
      <th>Código de empleado</th>
      <th>Número de DNI</th>
      <th>Nombre de empleado</th>
      <th>Dirección</th>
      <th>Departamento</th>
      <th>Provincia</th>
      <th>Distrito</th>
      <th>Email</th>
      <th>Fecha de nacimiento</th>
      <th>Telefono</th>
      <th>Sexo</th>
      <th>Estado civil</th>
      <th>Fecha de contrato</th>
      <th>Fe de culminación</th>
      <th>Salario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @empleados.each do |empleado| %>
      <tr>
        <td><%= empleado.Co_Empleado %></td>
        <td><%= empleado.Nu_Dni %></td>
        <td><%= empleado.No_Empleado %></td>
        <td><%= empleado.Tx_Direccion %></td>
        <td><%= empleado.Co_Departamento %></td>
        <td><%= empleado.Co_Provincia %></td>
        <td><%= empleado.Co_Distrito %></td>
        <td><%= empleado.Tx_Email %></td>
        <td><%= empleado.Fe_Nacimiento %></td>
        <td><%= empleado.Tx_telefono %></td>
        <td><%= empleado.Fl_Sexo %></td>
        <td><%= empleado.Fl_EstadoCivil %></td>
        <td><%= empleado.Fe_Contrato %></td>
        <td><%= empleado.Fe_Culminacion %></td>
        <td><%= empleado.Sa_Salario %></td>
        <td><%= link_to 'Mostrar', empleado %></td>
        <td><%= link_to 'Editar', edit_empleado_path(empleado) %></td>
        <td><%= link_to 'Destruir', empleado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Empleado', new_empleado_path %>
