<p id="notice"><%= notice %></p>

<p>
  <strong>Número DNI:</strong>
  <%= @empleado.Nu_Dni %>
</p>

<p>
  <strong>Nombre empleado:</strong>
  <%= @empleado.No_Empleado %>
</p>

<p>
  <strong>Dirección:</strong>
  <%= @empleado.Tx_Direccion %>
</p>

<p>
  <strong>Departamento:</strong>
  <%= @empleado.Co_Departamento %>
</p>

<p>
  <strong>Provincia:</strong>
  <%= @empleado.Co_Provincia %>
</p>

<p>
  <strong>Distrito:</strong>
  <%= @empleado.Co_Distrito %>
</p>

<p>
  <strong>Email:</strong>
  <%= @empleado.Tx_Email %>
</p>

<p>
  <strong>Fecha de nacimiento:</strong>
  <%= @empleado.Fe_Nacimiento %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @empleado.Tx_telefono %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @empleado.Fl_Sexo %>
</p>

<p>
  <strong>Estado civil:</strong>
  <%= @empleado.Fl_EstadoCivil %>
</p>

<p>
  <strong>Fecha de contrato:</strong>
  <%= @empleado.Fe_Contrato %>
</p>

<p>
  <strong>Fecha de culminacion:</strong>
  <%= @empleado.Fe_Culminacion %>
</p>

<p>
  <strong>Salario:</strong>
  <%= @empleado.Sa_Salario %>
</p>

<%= link_to 'Editar', edit_empleado_path(@empleado) %> |
<%= link_to 'Regresar', empleados_path %>
