<p id="notice"><%= notice %></p>

<h1>Lista de Productos</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nombre de producto</th>
      <th>Categoría</th>
      <th>Costo de producto</th>
      <th>Cantidad producto</th>
      <th>Fecha de movimiento de producto</th>
      <th>Fecha de vencimiento de sproducto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @productos.each do |producto| %>
      <tr>
        <td><%= producto.No_Producto %></td>
        <td><%= getNameCat(producto.categoria_id) %></td>
        <td><%= producto.Qt_CostoProducto %></td>
        <td><%= producto.Nu_CantidadProducto %></td>
        <td><%= producto.Fe_MovimientoProducto %></td>
        <td><%= producto.Fe_VencimientoProducto %></td>
        <td><%= link_to 'Mostrar', producto %></td>
        <td><%= link_to 'Editar', edit_producto_path(producto) %></td>
        <td><%= link_to 'Destruir', producto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= paginate @productos%>
<%= link_to 'Nuevo producto', new_producto_path %>
