<main class="bs-docs-masthead" id="content" role="main" tabindex="-1">
  <div class="container">
    <p class="lead"><br>Bienvenidos al sistema de gestión de pollerías <strong>PIO APP</strong></p>
    <p class="lead"><a></a></p>
    <p class="version">Actualmente v1.1.08.08</p>
</main>