<p id="notice"><%= notice %></p>

<h1>Listing Details</h1>

<table>
  <thead>
    <tr>
      <th>Cod detalle</th>
      <th>Qt cantidad</th>
      <th>Sa preciounisol</th>
      <th>Sa importesol</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @details.each do |detail| %>
      <tr>
        <td><%= detail.Cod_Detalle %></td>
        <td><%= detail.Qt_Cantidad %></td>
        <td><%= detail.Sa_PrecioUniSol %></td>
        <td><%= detail.Sa_ImporteSol %></td>
        <td><%= link_to 'Show', detail %></td>
        <td><%= link_to 'Edit', edit_detail_path(detail) %></td>
        <td><%= link_to 'Destroy', detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Detail', new_detail_path %>
