<!DOCTYPE html>
<html>
<head>
  <title>PIOAPP</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'bootstrap.min', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>  
  <p class="navbar-text pull-right nav-justified">

  <% if user_signed_in? %>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">PIO APP</a>
        </div>
        <% if user_signed_in? %>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav nav-pills">
            <% test='1' %>
              <li class="<%= 'active' if params[:controller] == 'panel' %>"><a href="/  ">Inicio</a></li>
              <li class="<%= 'active' if params[:controller] == 'empleados' %>"><a href="/empleados">Personal</a></li>  
              <li class="<%= 'active' if params[:controller] == 'mesas' %>"><a href="/mesas">Mesas</a></li>
              <li class="<%= 'active' if params[:controller] == 'productos' %>"><a href="/productos">Productos</a></li>
              <li class="<%= 'active' if params[:controller] == 'clientes' %>"><a href="/clientes">Clientes</a></li>
              <li class="<%= 'active' if params[:controller] == 'recepcions' %>"><a href="/recepcions">Reservas</a></li>
              <li class="<%= 'active' if params[:controller] == 'orders' %>"><a href="/orders">Pedidos</a></li>
              <li><%= link_to 'Editar perfil', edit_user_registration_path, :class => 'navbar-link' %> </li>
              <li><%= link_to "Cerrar Sessión", destroy_user_session_path, method: :delete, :class => 'navbar-link' %></li>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
      <span style="padding-left: 20px; float: right;">Inicio sesión como <strong><%= current_user.email %></strong></span>
 <% else %>
    <!--<%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |-->
    <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></p>
  <% end %>
<div class="container">
<%= yield %>
</div>

<footer class="footer"><div class="container"><p class="">PIO APP | App para pollerías & Desarrollado por #Epes © 2015</p></div></footer>
</body>
</html>